body, html{
    height: 100%;
}

.gameContainer{
    width: 600px; 
    height: 600px; 
    margin: auto; 
}

.container{
    background-color: darkgrey;
    cursor: pointer;
}

.cell{
    border-style: solid; 
    border-width: 2px; 
    font-family: "Source Code Pro", sans-serif; 
    height: 150px;
}

.cell img{
    height: 150px;
}

#end-message{
    background-color:rgba(255, 0, 0, 0.363); 
    color:black; 
    z-index: 100; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    /* height: 600px; 
    width: 600px; */
    font-size: 50px;
    font-weight: bold;
}

body{
    background-color: lightgrey;
    font-size: 100%; 
}

h1{
    font-family: "Bungee", sans-serif; 
    text-transform: uppercase; 
    font-size: 3em; 
    text-align: center; 
    margin: 5px; 
}

h3{
    font-family: "Times New Roman", serif; 
    font-size: 1.35em; 
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 10px;
}
